name: Actualizador Disney

on:
  schedule:
    - cron: '0 */6 * * *'
  workflow_dispatch:

permissions:
  contents: write

jobs:
  run-scan:
    runs-on: ubuntu-latest
    
    # ESTA ES LA PARTE NUEVA QUE SOLUCIONA EL "CONGELAMIENTO" VISUAL
    env:
      PYTHONUNBUFFERED: "1"

    steps:
      - name: Descargar codigo
        uses: actions/checkout@v3

      - name: Instalar Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'

      - name: Instalar librerias
        run: pip install requests

      - name: Ejecutar Scanner
        run: python scan.py

      - name: Guardar datos
        run: |
          git config --global user.name 'UpdateBot'
          git config --global user.email 'bot@noreply.github.com'
          git add database.json
          git commit -m "Update Data" || echo "Sin cambios"
          git push
