name: Actualizador Disney

on:
  schedule:
    - cron: '0 */6 * * *' # Ejecutar cada 6 horas
  workflow_dispatch:      # Botón manual

permissions:
  contents: write

jobs:
  run-scan:
    runs-on: ubuntu-latest
    
    # Esto permite ver los mensajes de Python en tiempo real
    env:
      PYTHONUNBUFFERED: "1"

    steps:
      - name: Descargar codigo
        uses: actions/checkout@v3

      - name: Instalar Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'

      - name: Instalar librerias
        run: pip install requests

      - name: Ejecutar Scanner
        run: python scan.py

      - name: Guardar datos (Con Sincronización)
        run: |
          git config --global user.name 'DisneyBot'
          git config --global user.email 'bot@noreply.github.com'
          
          # Añadir cambios locales
          git add database.json
          git commit -m "Datos actualizados por el Bot" || echo "Sin cambios nuevos"
          
          # LA SOLUCIÓN: Descargar cambios remotos y mezclarlos antes de subir
          git pull --rebase origin main
          
          # Subir cambios finales
          git push
