name: Actualizador Diario

on:
  schedule:
    - cron: '0 */6 * * *' # Ejecutar cada 6 horas
  workflow_dispatch:      # Permite ejecutar manualmente

permissions:
  contents: write         # Da permiso explícito para guardar el archivo

jobs:
  update-data:
    runs-on: ubuntu-latest
    
    steps:
    - name: 1. Descargar repositorio
      uses: actions/checkout@v3

    - name: 2. Configurar Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.9'

    - name: 3. Instalar dependencias
      run: |
        python -m pip install --upgrade pip
        pip install requests

    - name: 4. Ejecutar el Scanner
      run: python scan.py

    - name: 5. Guardar cambios (Si los hay)
      run: |
        git config --global user.name 'DisneyTracker Bot'
        git config --global user.email 'bot@noreply.github.com'
        git add database.json
        # El comando commit fallará si no hay cambios, el '|| echo' evita que el workflow se marque como error
        git commit -m "Auto-update: Datos actualizados" || echo "No hubo cambios nuevos en Disney+."
        git push
