name: Actualizador Disney

on:
  schedule:
    - cron: '0 */6 * * *' # Se ejecuta cada 6 horas
  workflow_dispatch:      # Botón para ejecutar manualmente

permissions:
  contents: write

jobs:
  actualizar-datos:
    runs-on: ubuntu-latest
    steps:
      - name: 1. Descargar tu código
        uses: actions/checkout@v3

      - name: 2. Instalar Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'

      - name: 3. Instalar Requests
        run: pip install requests

      - name: 4. Ejecutar Scan.py
        run: python scan.py

      - name: 5. Guardar Cambios
        run: |
          git config --global user.name 'DisneyBot'
          git config --global user.email 'bot@noreply.github.com'
          git add database.json
          git commit -m "Datos actualizados" || echo "Sin cambios nuevos"
          git push
